<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">A Few Details</h2>
        <h3>We've got just what you need!</h3>
        <hr class="light">
        <p class="text-faded">This beautiful house set in the heart of Brittany, is ideally located for exploring the rugged coasts of this extraordinary
        country with private bay beaches, historic villages, and many of the famous locations of impressionist en plein paintings. A perfect location for taking
        long rambles or bike tours of the region or trundle down to Spain on the Camino de Santiago.</p>

        <p class="text-faded">For artists, besides connections to the impressionist painters of the past, there are beautiful art galleries in Quimper and
        Lorient as well as incredible light all year creating enchanting landscapes. Pont Aven, Huelgoat forest, Honfleur and incredible coast of Cruzon are
        close and the Tronjoly Chateux with mill pond and annual traditional music festival within 10 minuete walk.</p>

        <p class="text-faded">Meditators have the option to enjoy the extraordinary tranquality of house and garden or visit the Drukpa Centre at
        Plouray.</p>

      </div>
    </div>
  </div>
</section>
