<section class="bg-secondary id="extra">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Some More Information</h2>
        <hr class="success">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-mobile text-primary sr-icons"></i>
          <h3>Another heading</h3>
          <p class="text-muted">Our templates are updated regularly so they don't break.</p>
        </div>
      </div>
    </div>
  </div>
</section>
