    <section class="p-0" id="photos">
      <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/landing/house.jpg">
              <img class="img-fluid" src="img/landing/house.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                     Outside
                  </div>
                  <div class="project-name">
                    Beautiful garden front and back. 
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/landing/frontgarden.jpg">
              <img class="img-fluid" src="img/landing/frontgarden.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                     Outside
                  </div>
                  <div class="project-name">
                    Beautiful garden front and back. 
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/landing/interior.jpg">
              <img class="img-fluid" src="img/landing/interior.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                     Inside
                  </div>
                  <div class="project-name">
                     Spacious 5(6) Bedroom House
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/landing/tronjoly.jpg">
              <img class="img-fluid" src="img/landing/tronjoly.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Beautiful Location
                  </div>
                  <div class="project-name">
                    Tronjoley
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/landing/meal.jpg">
              <img class="img-fluid" src="img/landing/meal.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Lifestyle
                  </div>
                  <div class="project-name">
                      Peaceful and relaxing area
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/landing/honfleur.jpg">
              <img class="img-fluid" src="img/landing/honfleur.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Area
                  </div>
                  <div class="project-name">
                    Historic, nestled in the heart of Brittany.
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
